@import './normalize.css';

body {
    font-family: Calibri;
    font-size: 34px;
    font-weight: bold;
    padding: 0px 7px;
    background-color: #D26914; /* will be removed later and added to calculator background */
}